@model SimpleTodoList.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="container2">
    <h1>Create</h1>
    <h4>Category</h4>
    <a asp-action="Index">Back to List</a>
</div>
<form class="form-registrer" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <input asp-for="CategoryName" class="controls" type="text" name="CategoryName" placeholder="Enter category"/>
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="botons"/>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}